.recipe-table-idx {
	text-align: right;
}

.recipe-table {
	outline: none;
	border-collapse: collapse;
	background-color: #f2f2f2;
}

.recipe-table td, .recipe-table tr, .recipe-table th {
	border: 1px solid rgb(160 160 160);
	padding: 8px 10px;
}

tbody > tr:nth-of-type(odd) {
	background-color: #ffffff;
}

.recipe-empty, .recipe-table-info {
	font-style: italic;
}
